Repository TypeSafe-Travellers/trippins, pull requests merged in 2023-01, with the labels that each got.

#1 chore: add codeowners
  .github/CODEOWNERS
Labels: enhancement

#7 chore: add vscode recommended workspace settings
  .vscode/settings.json
  src/env/client.mjs
  src/env/schema.mjs
  src/env/server.mjs
  src/pages/index.tsx
Labels: enhancement

#6 fix: CODEOWNERS missing wildcard char
  .github/CODEOWNERS
Labels: bug

#5 chore: add vscode workspace recommended extensions
  .vscode/extensions.json
Labels: enhancement

#10 chore: add CI (#9)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/codeql_analysis.yml
  .github/workflows/pr_title_validator.yml
  next.config.mjs
  package.json
Labels: enhancement

#11 chore: use Netlify for CD
  .env.example
  .vscode/settings.json
  netlify.toml
  package.json
  prettier.config.cjs
  src/env/client.mjs
  src/env/schema.mjs
  src/env/server.mjs
Labels: enhancement

#17 chore: add PR labeler
  .github/workflows/labeler.yml
Labels: enhancement

#18 chore: create LICENSE.md
  LICENSE.md
Labels: documentation

#19 feat: add custom font using `@next/font`
  .prettierignore
  package-lock.json
  package.json
  src/fonts/FoundersGrotesk-Bold.woff2
  src/fonts/FoundersGrotesk-Light.woff2
  src/fonts/FoundersGrotesk-Regular.woff2
  src/fonts/FoundersGrotesk-Semibold.woff2
  src/fonts/FoundersGroteskXCond-Bold.woff2
  src/fonts/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/server/api/routers/example.ts
  src/styles/globals.css
  tailwind.config.cjs
Labels: enhancement

#14 chore(main): ship v0.1.0
  .env.example
  .github/workflows/labeler.yml
  .prettierignore
  .vscode/settings.json
  LICENSE.md
  netlify.toml
  next.config.mjs
  package-lock.json
  package.json
  prettier.config.cjs
  src/env/client.mjs
  src/env/schema.mjs
  src/env/server.mjs
  src/fonts/FoundersGrotesk-Bold.woff2
  src/fonts/FoundersGrotesk-Light.woff2
  src/fonts/FoundersGrotesk-Regular.woff2
  src/fonts/FoundersGrotesk-Semibold.woff2
  src/fonts/FoundersGroteskXCond-Bold.woff2
  src/fonts/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/server/api/routers/example.ts
  src/styles/globals.css
  tailwind.config.cjs
Labels: Ship To Production

#25 docs: update readme
  README.md
  package.json
Labels: documentation

#27 feat: add dark mode toggle button
  .vscode/extensions.json
  package-lock.json
  package.json
  src/components/ThemeToggle.tsx
  src/components/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/globals.css
  tailwind.config.cjs
Labels: enhancement

#31 feat: design ThemeToggler using Radix UI
  README.md
  package-lock.json
  package.json
  src/components/ThemeToggle.tsx
  src/icons/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Labels: enhancement

#33 chore: add scheduled workflow to ping repl after every 5 mins to prevent coldstart
  .github/workflows/no_coldstart.yml
Labels: enhancement

#26 feat: replit integration
  .replit
  .vscode/extensions.json
  replit.nix
Labels: enhancement

#36 feat: better backgrounds
  src/pages/index.tsx
  src/styles/globals.css
Labels: enhancement

#37 docs: update readme with links
  README.md
Labels: documentation

#40 chore: remove ping
  .github/workflows/no_coldstart.yml
Labels: bug

#39 feat: add login functionality
  package-lock.json
  package.json
  src/components/LoginButton.tsx
  src/components/index.ts
  src/env/schema.mjs
  src/pages/about.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/index.tsx
Labels: enhancement

#43 feat: simple-navbar
  src/components/Navbar.tsx
  src/components/index.ts
  src/pages/index.tsx
Labels: enhancement

#50 feat: setup mysql pscale
  .env.example
  .vscode/settings.json
  README.md
  package.json
  prisma/schema.prisma
Labels: enhancement

#52 feat: logout button
  src/components/LoginButton.tsx
  src/components/LogoutButton.tsx
  src/components/Navbar.tsx
  src/pages/index.tsx
Labels: enhancement

#49 feat: add profile page
  src/components/Profile/ProfileContainer.tsx
  src/components/Profile/ProfileDetails.tsx
  src/components/ThemeToggle.tsx
  src/components/index.ts
  src/pages/index.tsx
  src/pages/profile.tsx
  src/styles/globals.css
Labels: enhancement

#55 chore: update favicon
  public/favicon.ico
Labels: enhancement

#56 feat: custom scrollbar
  package-lock.json
  package.json
  src/styles/globals.css
  tailwind.config.cjs
Labels: enhancement

#61 feat: add edit profile button
  package-lock.json
  package.json
  src/components/LoginButton.tsx
  src/components/LogoutButton.tsx
  src/components/Profile/EditProfile.tsx
  src/components/Profile/ProfileContainer.tsx
  src/icons/index.tsx
Labels: enhancement

#60 feat: conditionally render signin / logout
  package-lock.json
  package.json
  src/components/LoginButton.tsx
  src/components/LogoutAndAlertButton.tsx
  src/components/LogoutButton.tsx
  src/components/Navbar.tsx
  src/components/Profile/EditProfile.tsx
  src/components/index.ts
  src/pages/index.tsx
  src/pages/profile.tsx
  src/server/api/routers/example.ts
Labels: enhancement

#62 feat: add backend integration
  src/components/Profile/EditProfile.tsx
  src/components/Profile/ProfileDetails.tsx
  src/pages/_app.tsx
Labels: enhancement

#66 feat: add about page
  src/pages/about.tsx
Labels: enhancement

#64 feat: add profile details edit functionality
  src/components/Profile/EditProfile.tsx
  src/icons/index.tsx
  src/server/api/root.ts
  src/server/api/routers/index.ts
  src/server/api/routers/userProfile.ts
Labels: enhancement

#70 feat: add theme toggle to navbar
  src/components/LoginButton.tsx
  src/components/Navbar.tsx
  src/pages/index.tsx
  src/pages/profile.tsx
Labels: enhancement

#69 feat: add footer to `/` & `/profile`
  src/components/Footer.tsx
  src/components/Profile/ProfileDetails.tsx
  src/components/index.ts
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/profile.tsx
Labels: enhancement

#63 feat: ship user authentication & profile edit page
  .env.example
  .replit
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  netlify.toml
  package-lock.json
  package.json
  prisma/schema.prisma
  public/favicon.ico
  replit.nix
  src/components/Footer.tsx
  src/components/HomePageButton.tsx
  src/components/LoginButton.tsx
  src/components/LogoutAndAlertButton.tsx
  src/components/Navbar.tsx
  src/components/Profile/EditProfile.tsx
  src/components/Profile/ProfileContainer.tsx
  src/components/Profile/ProfileDetails.tsx
  src/components/ThemeToggle.tsx
  src/components/index.ts
  src/env/schema.mjs
  src/icons/index.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/index.tsx
  src/pages/profile.tsx
  src/server/api/root.ts
  src/server/api/routers/example.ts
  src/server/api/routers/index.ts
  src/server/api/routers/userProfile.ts
  src/styles/globals.css
  tailwind.config.cjs
Labels: Ship To Production

#74 feat: Add Sign In with Google button
  .env.example
  src/env/schema.mjs
  src/pages/api/auth/[...nextauth].ts
Labels: enhancement

#81 feat: trips in home page
  src/components/Home/Authenticated/AuthenticatedContainer.tsx
  src/components/Home/Authenticated/NewTripButton.tsx
  src/components/Home/Authenticated/TripNav.tsx
  src/components/Home/Authenticated/TripsContainer.tsx
  src/components/Home/HomeContainer.tsx
  src/components/Home/Unauthenticated/GetStartedButton.tsx
  src/components/Home/Unauthenticated/HeroBanner.tsx
  src/components/Home/Unauthenticated/UnauthenticatedContainer.tsx
  src/components/Misc/Footer.tsx
  src/components/Misc/HomePageButton.tsx
  src/components/Misc/LoginButton.tsx
  src/components/Misc/LogoutAndAlertButton.tsx
  src/components/Misc/Navbar.tsx
  src/components/Misc/ThemeToggle.tsx
  src/components/Profile/EditProfile.tsx
  src/components/Profile/ProfileContainer.tsx
  src/components/Profile/ProfileDetails.tsx
  src/components/index.ts
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/profile.tsx
  src/server/api/root.ts
  src/server/api/routers/example.ts
  src/server/api/routers/index.ts
  src/styles/globals.css
Labels: enhancement

#84 feat: add basic animation
  .github/workflows/ci.yml
  .prettierignore
  README.md
  package-lock.json
  package.json
  src/components/Home/Authenticated/AuthenticatedContainer.tsx
  src/components/Home/Authenticated/NewTripButton.tsx
  src/components/Home/Authenticated/TripNav.tsx
  src/components/Home/Authenticated/TripsContainer.tsx
  src/components/Home/Authenticated/index.ts
  src/components/Home/HomeContainer.tsx
  src/components/Home/Unauthenticated/GetStartedButton.tsx
  src/components/Home/Unauthenticated/HeroBanner.tsx
  src/components/Home/Unauthenticated/UnauthenticatedContainer.tsx
  src/components/Home/Unauthenticated/index.ts
  src/components/Misc/Footer.tsx
  src/components/Misc/LoginButton.tsx
  src/components/Misc/LogoutAndAlertButton.tsx
  src/components/Misc/Navbar.tsx
  src/components/Misc/index.ts
  src/components/Profile/EditProfile.tsx
  src/components/Profile/ProfileContainer.tsx
  src/components/Profile/ProfileDetails.tsx
  src/components/Profile/index.ts
  src/components/index.ts
  src/pages/404.tsx
  src/pages/about.tsx
Labels: enhancement

#86 feat: add active page in navbar
  src/components/Misc/Navbar.tsx
Labels: enhancement

#90 feat: add trips backend mutation
  src/components/Home/Authenticated/NewTripButton.tsx
  src/components/Home/Authenticated/TripsContainer.tsx
  src/server/api/root.ts
  src/server/api/routers/index.ts
  src/server/api/routers/userTrips.ts
Labels: enhancement

#93 feat: join trip
  src/components/Home/Authenticated/JoinTripButton.tsx
  src/components/Home/Authenticated/NewTripButton.tsx
  src/components/Home/Authenticated/TripNav.tsx
  src/components/Home/Authenticated/index.ts
Labels: enhancement

#94 feat: add `createdAt` trips time stamp
  prisma/schema.prisma
  src/components/Home/Authenticated/TripsContainer.tsx
  src/server/api/routers/userTrips.ts
Labels: enhancement

#97 feat: trip details page
  src/components/Home/Authenticated/TripsContainer.tsx
  src/components/Misc/HomePageButton.tsx
  src/components/Misc/Navbar.tsx
  src/components/Trip/TripDetailsContainer.tsx
  src/components/Trip/index.ts
  src/components/index.ts
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/profile.tsx
  src/pages/trips/[trip].tsx
  src/server/api/routers/userTrips.ts
Labels: enhancement

#98 feat: add participant
  package-lock.json
  package.json
  src/components/Home/Authenticated/TripNav.tsx
  src/components/Home/Authenticated/TripsContainer.tsx
  src/components/Home/Authenticated/buttons/CopyTripIdButton.tsx
  src/components/Home/Authenticated/buttons/JoinTripButton.tsx
  src/components/Home/Authenticated/buttons/NewTripButton.tsx
  src/components/Home/Authenticated/buttons/index.ts
  src/components/Home/Authenticated/index.ts
  src/components/Profile/EditProfile.tsx
  src/hooks/UseMediaQuery.ts
  src/hooks/index.ts
  src/server/api/routers/userTrips.ts
Labels: enhancement

#111 fix: use user id instead of session id
  src/components/Home/Authenticated/TripNav.tsx
  src/components/Home/Authenticated/TripsContainer.tsx
  src/components/Home/Authenticated/buttons/CopyTripIdButton.tsx
  src/components/Home/Authenticated/buttons/JoinTripButton.tsx
  src/components/Home/Authenticated/buttons/NewTripButton.tsx
  src/components/Profile/EditProfile.tsx
  src/components/Profile/ProfileDetails.tsx
  src/pages/trips/[trip].tsx
  src/server/api/routers/userProfile.ts
  src/server/api/routers/userTrips.ts
Labels: bug

#110 feat: budget field
  prisma/schema.prisma
  src/components/Home/Authenticated/buttons/JoinTripButton.tsx
  src/components/Home/Authenticated/buttons/NewTripButton.tsx
  src/components/Trip/TripDetailsContainer.tsx
  src/server/api/routers/userTrips.ts
Labels: enhancement

#112 fix!: validation
  src/components/Home/Authenticated/buttons/NewTripButton.tsx
  src/components/Trip/EditTripButton.tsx
Labels: bug

#108 docs: polish for 1st eval
  README.md
  src/components/Home/Authenticated/TripNav.tsx
  src/components/Home/Authenticated/TripsContainer.tsx
  src/components/Home/Unauthenticated/HeroBanner.tsx
  src/components/Profile/ProfileContainer.tsx
  src/components/Profile/ProfileDetails.tsx
  src/components/Trip/TripDetailsContainer.tsx
Labels: documentation

#99 chore: ship trips + prep for 1st evaluation
  .env.example
  .github/workflows/ci.yml
  .prettierignore
  README.md
  package-lock.json
  package.json
  prisma/schema.prisma
  src/components/Footer.tsx
  src/components/Home/Authenticated/AuthenticatedContainer.tsx
  src/components/Home/Authenticated/TripNav.tsx
  src/components/Home/Authenticated/TripsContainer.tsx
  src/components/Home/Authenticated/buttons/CopyTripIdButton.tsx
  src/components/Home/Authenticated/buttons/JoinTripButton.tsx
  src/components/Home/Authenticated/buttons/NewTripButton.tsx
  src/components/Home/Authenticated/buttons/index.ts
  src/components/Home/Authenticated/index.ts
  src/components/Home/HomeContainer.tsx
  src/components/Home/Unauthenticated/GetStartedButton.tsx
  src/components/Home/Unauthenticated/HeroBanner.tsx
  src/components/Home/Unauthenticated/UnauthenticatedContainer.tsx
  src/components/Home/Unauthenticated/index.ts
  src/components/Misc/Footer.tsx
  src/components/Misc/HomePageButton.tsx
  src/components/Misc/LoginButton.tsx
  src/components/Misc/LogoutAndAlertButton.tsx
  src/components/Misc/Navbar.tsx
  src/components/Misc/ThemeToggle.tsx
  src/components/Misc/index.ts
  src/components/Navbar.tsx
  src/components/Profile/EditProfile.tsx
  src/components/Profile/ProfileContainer.tsx
  src/components/Profile/ProfileDetails.tsx
  src/components/Profile/index.ts
  src/components/Trip/DeleteTripButton.tsx
  src/components/Trip/EditTripButton.tsx
  src/components/Trip/TripDetailsContainer.tsx
  src/components/Trip/index.ts
  src/components/index.ts
  src/env/schema.mjs
  src/hooks/UseMediaQuery.ts
  src/hooks/index.ts
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/index.tsx
  src/pages/profile.tsx
  src/pages/trips/[trip].tsx
  src/server/api/root.ts
  src/server/api/routers/example.ts
  src/server/api/routers/index.ts
  src/server/api/routers/userProfile.ts
  src/server/api/routers/userTrips.ts
  src/styles/globals.css
Labels: Ship To Production

#113 fix: font
  README.md
  next.config.mjs
  src/components/Home/Authenticated/buttons/CopyTripIdButton.tsx
  src/fonts/index.ts
  src/styles/globals.css
Labels: Ship To Production
